@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(/snow1.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #000;
}

.title {
  margin-top: 10rem;
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

.countdown-con {
  width: 100vw;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 11rem;
  margin-top: 6rem;
}

.counters {
  display: flex;
  flex-direction: column;
  font-size: 10rem;
  font-weight: 600;
  line-height: 1;
}

.counters span {
  font-size: 3.5rem;
  font-weight: 100;
}

@media (max-width: 650px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 20%;
  }
}
